* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1vw;
}



html,
body {
    font-family: "Red Hat Display", Sans-serif;
    font-size: 16px;
    background-color: white;
    color: #000000;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

input,
button,
textarea {
    outline: none;
    border: none;
}

a,
button {
    text-decoration: none;
    color: #1a1a1a;
    border: none;
}

a:hover {
    color: #1a1a1a;
}

.boxcenter {
    width: 80%;
    margin: 0 auto;
}

/* topbar */
@keyframes down {
    from {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

header .main-header.active {
    position: fixed;
    z-index: 11;
    width: 100%;
    top: 0;
    background: #fff;
    -webkit-animation: down 1s forwards;
    animation: down 1s forwards;
}

.header__first {
    background-color: whitesmoke;
    border-radius: 6px;
}

.top-bar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    width: 97%;
    margin: 0 auto;
}

.menu-ipad-mobile {
    display: none;
}

.top-bar__first,
.top-bar__second,
.top-bar__third {
    display: flex;
    align-items: center;
}

.top-bar__second li:nth-child(2) {
    display: inline-block;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    padding: 3px 8px;
    font-size: 14px;
    cursor: pointer;
}

.top-bar__first li,
.top-bar__second li {
    padding: 0 15px;
    cursor: pointer;
}

.top-bar__third li {
    padding: 0 10px;
}

.top-bar__first li:hover {
    color: #ba933e;
}

.top-bar__first li i {
    margin-right: 5px;
    font-size: 14px;
}

.top-bar__third--region {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar__third--region a {
    display: inline-block;
}

.top-bar__third--region a:hover {
    color: #ba933e;
}

.top-bar__third--icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar__third--icon a {
    display: inline-block;
    padding: 5px 10px;
}

.top-bar__third--icon a i {
    color: #666;
    transition: all 0.2s;
}

.top-bar__third a {
    text-decoration: none;
    color: #000;
}

.top-bar__third a:hover i {
    color: darkgoldenrod;
}

.top-bar__third--region {
    display: inline-block;
    cursor: pointer;
}

.menu-English {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 5;
    padding: 15px;
    border-radius: 0 0 5px 5px;
    min-width: 150px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
}

.menu-English li {
    display: block;
    color: #000;
    text-decoration: none;
}

.menu-English li:first-child {
    margin-bottom: 8px;
}

.menu-English li a {
    text-align: left;
}

.top-bar__third--region:hover .menu-English {
    display: block;
    transition: all 0s;
}

.top-bar__third>li:hover>a,
.top-bar__third .menu-English li:hover a {
    color: darkgoldenrod;
}

/* endtopbar */

.mb {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mr {
    margin-right: 2%;
}

.demo {
    background-color: antiquewhite;
    min-height: 100px;
}

.header {
    background-color: aquamarine;
    border: 1px #090 solid;
    color: blue;
    border-radius: 5px;
}

.footer {
    background-color: #000;
    border: 1px #090 solid;
    font-size: 0.8vw;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}

.header h1 {
    margin: 20px;
    font-size: 1.2vw;
}

.menu {
    background-color: black;
    color: #CCC;
    border-radius: 5px;
    padding: 12px 8px
}

.menu a {
    font-size: 16px;

}

.boxtrai {
    float: left;
    width: 74%;
}

.boxcenter2 {
    float: left;
    width: 48%;
}

.boxphai {
    float: left;
    width: 24%;
}

.boxtitle {
    color: #333;
    padding: 10px;
    background-color: #EEE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #CCC solid;
}

.boxcontent {
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
}

.boxcontent2 {
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    background-color: #EEE;
}

.boxfooter {
    padding: 10px;
    background-color: #EEE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
}

.banner {
    min-height: 300px;
    width: 100%;
    text-align: center;
}



.boxsp {
    float: left;
    width: 32%;
    min-height: 300px;
    border: 1px #EEE solid;
    border-radius: 5px;
    margin-bottom: 20px;
}

.boxsp .img {
    min-height: 230px;
    text-align: center;
}

.img img {
    height: 220px;
}

.menu ul {
    padding: 0px 10px;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}

.menu ul li a {
    color: #CCC;
    text-decoration: none;
    transition: 0.5s;
}

.menu ul li a:hover {
    color: white;
    font-size: 0.8vw;
}


/* box tài khoản*/

.formtaikhoan {
    line-height: 150%;
}

.formtaikhoan input[type="text"],
.formtaikhoan input[type="password"],
.frmcontent input[type="text"] {
    width: 100%;
    border: 1px #CCC solid;
    padding: 5px 10px;
    border-radius: 5px;
}

.formtaikhoan input[type="checkbox"] {
    border-radius: 5px;
}

.formtaikhoan input[type="submit"],
.frmcontent input[type="submit"],
.frmcontent input[type="reset"],
.frmcontent input[type="button"] {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px #CCC solid;
}

.formtaikhoan input[type="submit"]:hover,
.frmcontent input[type="submit"]:hover,
.frmcontent input[type="reset"]:hover,
.frmcontent input[type="button"]:hover {
    background-color: #CCC;
}

.formtaikhoan li a {
    color: teal;
    text-decoration: none;
}

.formtaikhoan li a:hover {
    color: #060;
    text-decoration: underline;
}


/* menu dọc*/

.menudoc ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menudoc ul li {
    padding: 10px 20px;
    background-color: #FFF;
    border-bottom: 1px #CCC solid;
}

.menudoc ul li a {
    color: #666;
    text-decoration: none;
}

.menudoc ul li:hover {
    background-color: #CCC;
}

.searbox input[type="text"] {
    width: 100%;
    padding: 5px 10px;
    background-color: #FFF;
    border: 1px #CCC solid;
    border-radius: 5px;
}

.top10 img {
    width: 20%;
    height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px #CCC solid;
}

.top10 a {
    color: #666;
    text-decoration: none;
}

.top10 a:hover {
    color: #000;
    text-decoration: underline;
}


/* Admin*/

.headeradmin {
    background-color: #EEE;
    border: 1px #CCC solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;
}

.headeradmin h1 {
    font-size: 2vw;
}

.frmtitle {
    background-color: #EEE;
    border: 1px #CCC solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;
}

.frmcontent {
    padding: 20px 0px;
}

.frmdsloai table {
    width: 100%;
    border-collapse: collapse;
}

.frmdsloai table th {
    padding: 20px;
    background-color: #CCC;
}

/* 
.frmdsloai table th:nth-child(2) {
    width: 30%;
    background-color: #CCC;
}

.frmdsloai table th:nth-child(3) {
    width: 40%;
    background-color: #CCC;
}

.frmdsloai table th:nth-child(4) {
    width: 20%;
    background-color: #CCC;
} */

.frmdsloai table td {
    padding: 10px 20px;
    border: 1px #CCC solid;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}


/* slide show */

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.ct_img {
    max-width: 200px;
    height: 200px;
}

.ct_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chitiet {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_search_sp {
    display: flex;
    gap: 0 8px;
}

.btn_search {
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    /* border: none; */
}

.form_register {
    text-align: left;
}

.group {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 12px;
    margin-bottom: 12px;
    align-items: center;
}

.group input {
    border-radius: 6px;
    padding: 4px;
    font-size: 12px;
}

.group-child input {
    cursor: pointer;
}

.group label {
    font-size: 14px;
}

.message_register {
    padding: 8px;
    background-color: green;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment>div {
    width: 100%;
    padding: 0 10px;

}

.comment>div>div {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(218, 207, 207);
    margin: 4px 0;
    ;
}

.info_comment {
    display: flex;
    gap: 0 12px;
}

.price_name {
    display: flex;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.price_name>div {
    flex: 1;
    text-align: center;
}

.price_name p {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 2px;
}

.price_name a {
    text-emphasis: none;
    font-size: 12px;
    color: #000;
}

.price_name form {
    text-align: center;
}

a {
    text-decoration: none;
}

.addtocart {
    margin-top: 12px;
}

input[type="button"], input[type="submit"], input[type="addtocart"] {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 4px;
    cursor: pointer;

}

input[name="addtocart"]:hover {
    background-color: #888;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

table {
    width: 100%;
}

.billform tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.billform tr td:nth-child(1) {
    font-weight: bold;
}

.billform tr td {
    width: 100%;
}

.billform tr td input {
    padding: 4px;
    flex: 1;
    width: 100%;
}

.parent_pttk,
.pttk {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mybill td {
    text-align: center;
}

.text {}

.prev {
    left: 0;
}

.bieudo {
    padding: 6px 12px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
}

.bieudo:hover {
    background-color: rgb(143, 130, 130);
    color: #fff;
}

.admin_hinh {
    width: 150px;
    height: 150px
}

td {
    text-align: center
}

.info_bill {
    text-align: center;
}

.info_bill li {
    margin: 4px 0;
    ;
    font-size: 12px;

}

.view_detail_bill:hover {
    color: orangered;
}